﻿@model IEnumerable<Web_proje.Models.Travel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<h2>@dil.Resource.Geziler</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quota)
        </th>
        <th>
            @dil.Resource.GeziTuru
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @dil.Resource.Katilim
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.travelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="form-group">
                    @Html.ActionLink(dil.Resource.Katil, "GeziyeUyeKaydet", "Account", new { id = item.TravelID }, new { @class = "btn btn-default" })
                    <span style="color:green;">@ViewBag.Sonuc</span>
                </div>
            </td>

            <td>
                @Html.ActionLink(dil.Resource.Detaylar, "Details", new { id = item.TravelID })
            </td>
        </tr>
    }

</table>
