﻿@model Web_proje.Models.Customer

@{
    ViewBag.Title = "AddRoleForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<h2>@dil.Resource.KullaniciyaRolEkle </h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@dil.Resource.Kullanici</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label>@Model.Name</label>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("rol","Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList( "rol",(List<SelectListItem>)ViewBag.Roller)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink(dil.Resource.ListeyeGeriDon, "ListUser")
    </div>
