﻿@model IEnumerable<Web_proje.Models.UserView>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink(dil.Resource.Gezi, "TravelIndex", "Admin")</li>
                        <li>@Html.ActionLink(dil.Resource.Haber, "HaberIndex", "Admin")</li>
                        <li>@Html.ActionLink(dil.Resource.RolEkle, "RoleList", "Account")</li>
                        <li class="active">@Html.ActionLink(dil.Resource.RolAta, "ListUser", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@dil.Resource.Kullanicilar</h4>  
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>E-mail</th>
                                    <th>@dil.Resource.KullaniciAdi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink(dil.Resource.RolAta, "AddRoleForUser", new { Id = item.Id }) | 
                                            @Html.ActionLink(dil.Resource.Incele, "ListRoleForUser", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

