﻿@model IEnumerable<Web_proje.Models.Role>

@{
    ViewBag.Title = "ListRoleForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<h2>@ViewBag.KullaniciAdi @dil.Resource.KullanicininRolleri </h2>

<p>@Html.ActionLink(dil.Resource.RolEkle, "AddRoleForUser", new { id = ViewBag.KullaniciId })</p>
<table class="table">
    <tr>
        <th>
            @dil.Resource.KullanicininRolleri2
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink(dil.Resource.RoluSil, "DeleteRoleForUser", new { Id = item.RoleId, kullaniciAdi = ViewBag.KullaniciAdi })
            </td>
        </tr>
    }
   
</table>
<p> @Html.ActionLink(dil.Resource.GeriDon, "ListUser", "Account")</p>