﻿@model Web_proje.Models.Role

@{
    ViewBag.Title = "RoleDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<h2>@dil.Resource.RoluSil</h2>

<h3>@dil.Resource.SilEmin Are you sure you want to delete this?</h3>
<div>
    <h4>@dil.Resource.Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(dil.Resource.ListeyeGeriDon, "RoleList")
        </div>
    }
</div>
