﻿@model IEnumerable<Web_proje.Models.Role>

@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink(dil.Resource.Gezi, "TravelIndex", "Admin")</li>
                        <li>@Html.ActionLink(dil.Resource.Haber, "HaberIndex", "Admin")</li>
                        <li class="active">@Html.ActionLink(dil.Resource.RolEkle, "RoleList", "Account")</li>
                        <li>@Html.ActionLink(dil.Resource.RolAta, "ListUser", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Roller</h4>
                        <a href="/Account/AddRole" class="btn btn-success btn-sm tooltips pull-right" title=@dil.Resource.YeniHaber style="margin-top:-33px;">Yeni Rol Ekle</a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@dil.Resource.RolAdi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>
                                        <td>
                                            @Html.ActionLink(dil.Resource.Duzenle, "EditRole", new { id = item.RoleId }) |
                                            @Html.ActionLink(dil.Resource.Sil, "RoleDelete", new { id = item.RoleId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

