﻿@model Web_proje.Models.Haber

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Haber</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bilgi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bilgi)
            </dd>

            @if (Model.Foto == null)
            {
                <img id="HaberResim" src="~/Content/imgs/resimyok.png" />
            }
            else
            {
                <img id="HaberResim" src="data:image/png;base64,@System.Convert.ToBase64String(Model.Foto)" />@*Fotoğrafı ekranda göstermek için*@
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
