﻿@model IEnumerable<Web_proje.Models.Haber>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Haber</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bilgi)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bilgi)
            </td>
            <td>
                @if (item.Foto == null)
                {
                    <img id="HaberResim" src="~/Content/imgs/resimyok.png" alt="@item.Baslik" />
                }
                else
                {
                    <img id="HaberResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" />@*Fotoğrafı ekranda göstermek için*@
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.HaberID }) |
            </td>
        </tr>
    }

</table>
