﻿<!-- NavBar başlangıcı-->
@using dil;
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ustMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brandRenk" class="navbar-brand" href="/Home/Index">
                <i id="brandSimge" class="fa fa-camera-retro fa-2x"></i>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="ustMenu">
            <ul class="nav navbar-nav" id="navRenk">

                <li><a href="/Travel/Index"><i class="fa fa-plane"></i> @dil.Resource.Geziler</a></li>
                <li><a href="/Haber/Index">@dil.Resource.Haberler</a></li>
                <li><a href="#"><i class="fa fa-id-card"></i> @dil.Resource.Hakkında </a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</nav>
<!-- NavBar Bitişi -->
