﻿@using dil
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title -  @dil.Resource.WebSitesi</title>
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Header")
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - @dil.Resource.WebSitesi</p>
        </footer>
    @Scripts.Render("~/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
