﻿@using Microsoft.AspNet.Identity
@using dil
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="navRenk">
            <li>
                @Html.ActionLink(dil.Resource.Merhaba+" " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> @dil.Resource.Cikis  </a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" id="navRenk">
        <li>@Html.ActionLink(dil.Resource.ÜyeOl , "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(dil.Resource.Giriş, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
