﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@dil.Resource.Kilitli</h1>
    <h2 class="text-danger">@dil.Resource.Kilitli2</h2>
</hgroup>
