﻿@model Web_proje.Controllers.Liste
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<div id="indexNavAltiResim" class="jumbotron">
    <div class="container text-center">
        <h1>www.gezi.com</h1>
        <p>@dil.Resource.SiteBaslik</p>
    </div>
</div>

<div class="col-lg-8 text-center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{
                var i = 0;
                foreach (var item in Model.HaberBilgi)
                {
                    if (i == 0)
                    {

                        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                    i++;
                }
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            @{
                i = 0;

                foreach (var item in Model.HaberBilgi)
                {

                    if (i == 0)
                    {
                        <div class="item active">

                            @if (item.Foto == null)
                            {
                                <img style="width:100%;" id="SliderResim" src="~/Content/imgs/resimyok.png" alt="@item.Baslik" />
                                <div class="carousel-caption">
                                    <a id="SliderYazi" href="/Haber/Details/@item.HaberID">@item.Baslik</a>

                                </div>
                            }
                            else
                            {
                                <img style="width:100%;" id="SliderResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" />@*Fotoğrafı ekranda göstermek için*@
                                <div class="carousel-caption">
                                    <a id="SliderYazi" href="/Haber/Details/@item.HaberID">@item.Baslik</a>

                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <div class="item">
                            @if (item.Foto == null)
                            {
                                <img style="width:100%;" id="SliderResim" src="~/Content/imgs/resimyok.png" alt="@item.Baslik" />
                                <div class="carousel-caption">

                                    <a id="SliderYazi" href="/Haber/Details/@item.HaberID">@item.Baslik</a>

                                </div>
                            }
                            else
                            {
                                <img style="width:100%;" id="SliderResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" />@*Fotoğrafı ekranda göstermek için*@
                                <div class="carousel-caption">

                                    <a id="SliderYazi" href="/Haber/Details/@item.HaberID">@item.Baslik</a>

                                </div>
                            }
                        </div>
                    }
                    i++;

                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">@dil.Resource.Onceki </span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">@dil.Resource.Sonraki Next</span>
        </a>
    </div>
</div>
<div class="col-lg-4" id="Duyuru-Content">
    <h2 id="GeziHaber">@dil.Resource.YeniGeziler</h2>
    <table class="table">
        @foreach (var item in Model.Geziler)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                    TL
                </td>
                <td>
                    @item.travelType
                </td>
                <td>
                    @item.Day.Day
                    /
                    @item.Day.Year
                </td>
            </tr>
        }
    </table>
</div>
<br>
<br>
<br>
<br>
<br>

