﻿@model Web_proje.Models.Haber

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}@using dil
    <h3>@dil.Resource.SilEmin</h3>
    <div>
        <h4>@dil.Resource.Haber</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bilgi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bilgi)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink(dil.Resource.ListeyeGeriDon, "HaberIndex")
            </div>
        }
    </div>>
