﻿@model IEnumerable<Web_proje.Models.Haber>
@{
    ViewBag.Title = "TravelIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using dil
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink(dil.Resource.Gezi, "TravelIndex")</li>
                        <li class="active">@Html.ActionLink(dil.Resource.Haber, "HaberIndex", "Admin")</li>
                        <li>@Html.ActionLink(dil.Resource.RolEkle, "RoleList", "Account")</li>
                        <li>@Html.ActionLink(dil.Resource.RolAta, "ListUser", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@dil.Resource.Haber</h4>
                        <a href="/Admin/HaberCreate" class="btn btn-success btn-sm tooltips pull-right" title=@dil.Resource.YeniHaber style="margin-top:-33px;">Yeni Haber Ekle</a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">@dil.Resource.Tarih</th>
                                    <th class="col-md-1">@dil.Resource.Başlık</th>
                                    <th >@dil.Resource.Resim</th>
                                    <th class="col-md-7">@dil.Resource.Bilgi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @String.Format("{0:d}", @item.Tarih)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Baslik)
                                        </td>
                                        <td>
                                            @if (item.Foto == null)
                                            {
                                                <img id="HaberResim" src="~/Content/imgs/resimyok.png" alt="@item.Baslik" />
                                            }
                                            else
                                            {
                                                <img id="HaberResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" />@*Fotoğrafı ekranda göstermek için*@
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bilgi)
                                        </td>

                                        <td>
                                            @Html.ActionLink(dil.Resource.Duzenle, "HaberEdit", new { id = item.HaberID }) |
                                            @Html.ActionLink(dil.Resource.Sil, "HaberDelete", new { id = item.HaberID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
