﻿@model IEnumerable<Web_proje.Models.Travel>
@{
    ViewBag.Title = "TravelIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Travel", "TravelIndex")</li>
                        <li>@Html.ActionLink("Haber", "HaberIndex", "Admin")</li>
                        <li>@Html.ActionLink("Rol Ekle", "RoleList", "Account")</li>
                        <li>@Html.ActionLink("Rol Ata", "ListUser", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Travel</h4>
                        <a href="/Admin/TravelCreate" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Travel" style="margin-top:-33px;">Yeni Gezi Ekle</a>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Gün</th>
                                    <th class="col-md-1">Fiyat</th>
                                    <th class="col-md-1">Kota</th>
                                    <th clas="col-md-1">Tipi</th>
                                    <th clas="col-md-2">Açıklama</th>
                                    <th clas="col-md-2">Düzünleme</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @String.Format("{0:d}", @item.Day)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quota)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.travelType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "TravelEdit", new { id = item.TravelID }) |
                                            @Html.ActionLink("Delete", "TravelDelete", new { id = item.TravelID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
