﻿/* Navbar başlangıc  */
.navbar {
    font-family: 'Allerta';
    margin-bottom: 0;
    border-radius: 0;
}

#brandRenk {
    background-color: #525252;
    color: #F3FDFF;
    border-right: 3px solid #0F0F0F;
}

#brandSimge {
    margin-top: -7px;
    font-size: 35px;
}

#navRenk a {
    background-color: #525252;
    color: #f2f2f2;
    font-size: 17px;
}

    #navRenk a:hover {
        background-color: #19E800;
        color: black;
    }
/*  Navbar Bitisi*/
#indexNavAltiResim {
    background: url('https://picsum.photos/1919/240');
    color: black;
}
#SliderResim {
    width: 1200px;
    height: 500px;
}
#SliderYazi {
    font-size: 25px;
    text-align:center;
    color: red;
}
#SliderYazi a:hover
{
    font:italic;
    font-size:40px;
}
    #HaberResim {
        width: 100px;
        height: 100px;
        border: 2px solid red;
    }

#Duyuru-Content {
    background-color: #cbabab;
}
	
/*
.curtain {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.left-panel,
.right-panel {
    width: 50%;
    height: 50vh;
    float: left;
    z-index: 2;
    position: relative;
    background: #064A21;
    transition: all 1s ease-in;
}

.content {
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    background: url('https://picsum.photos/1200/800?image=944');
    z-index: 1;
    text-align: center;
}

.curtain:hover .right-panel  {
    transform: translateX(100%);
}
.curtain:hover .left-panel {
    transform: translateX(-100%);
}

Açılıp kapanabilen divler bitiş*/
footer {
    background-color: #f2f2f2;
}
